NODE_ENV=DEVELOPMENT
OPENSEA_API_KEY=TODO_REPLACE_THIS
TWITTER_ACCESS_TOKEN=TODO_REPLACE_THIS
TWITTER_ACCESS_TOKEN_SECRET=TODO_REPLACE_THIS
TWITTER_API_KEY=TODO_REPLACE_THIS
TWITTER_API_SECRET_KEY=TODO_REPLACE_THIS
