NODE_ENV=DEVELOPMENT
OPENSEA_API_KEY=TODO_REPLACE_THIS
TWITTER_ACCESS_TOKEN=TODO_REPLACE_THIS
TWITTER_ACCESS_TOKEN_SECRET=TODO_REPLACE_THIS
TWITTER_API_KEY=TODO_REPLACE_THIS
TWITTER_API_SECRET_KEY=TODO_REPLACE_THIS
DEAR_EARTH_HASURA_GRAPHQL_ENDPOINT=https://dear-earth.herokuapp.com/v1/graphql
DEAR_EARTH_HASURA_GRAPHQL_API_KEY=TODO_REPLACE_THIS
